<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="lib/bootstrap/dist/css/app.css" rel="stylesheet">
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="main.js"></script>
  </head>
  <body ng-controller="PokemonAppController">
    <!-- NAVBAR -->
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Pokemon App</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-left">
            <!-- TODO the links for about a share are not up yet. Also need to
                test if the nav works-->
            <li><a href="#select">1. Select</a></li>
            <li><a href="#analysis">2. Analyze</a></li>
            <li><a href="#share">3. Share</a></li>
            <li><a href="#credits">4. Credits</a></li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>
    <div class='container'>
      <div class="jumbotron">
        <h1>Pokemon Analyzer {{1+2}}</h1>
        <p>You build your team and we analyze it for you!</p>
        <strong></strong>
        <p><a class="btn btn-primary btn-lg" href="#select" role="button">Select Your
          Pokemon</a></p>
      </div>
      <div class="page-header" id="select">
        <h1>Select Your Pokemon
          <small>Maximum of Six (6) Pokemon in a Team</small>
        </h1>
      </div>
      <!-- NOTE: This is 2 columns in the same row -->
      <div class="row">
        <!-- NOTE first column -->
        <div class="col-md-6 col-xm-6 col-xs-12">
          <div ng-repeat="pokemon in firstTeam | limitTo: 3">
            <div ng-class="pokemon.appState | appState" class="fixed-height panel">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <strong>#{{pokemon.ndex}}: {{pokemon.name | uppercase}}</strong>
                    {{pokemon.appState | json }}

                </h3>
              </div>
              <div class="panel-body">
                <!-- TODO look for a mirror or download the resource for images yourself. Also put that in credits -->
                <table>
                  <tr>
                    <!-- TODO how do i justify?? -->
                    <td class="parent">
                      <div class="center-align">
                        <img align="left" alt="" class="pokemon-avatar"
                          ng-src="http://www.serebii.net/xy/pokemon/{{pokemon.ndex}}.png"/>
                          <h4>
                            <strong>Type:
                            </strong>
                            <i>{{pokemon.type[0] | titlecase}}, {{pokemon.type[1] | titlecase}}</i>
                          </h4>
                        <form name="show" ng-if="pokemon.appState=='read'">

                          <button aria-label="Left Align" class="btn btn-default btn-sm" type="button">
                            <span aria-hidden="true" class="glyphicon glyphicon-edit"></span>
                            Edit
                          </button>
                          <button aria-label="Left Align" class="btn btn-danger btn-sm" type="button">
                            <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>
                            Delete
                          </button>
                        </form>
                      </div>
                    </td>
                    <!-- NOTE This is TD for the Show part of the Panel -->
                    <td ng-if="pokemon.appState=='read'" class="parent">
                      <div>
                        <!-- originally i put .center-align -->
                        <h3><strong>{{pokemon.name}}</strong></h3>
                        <hr>
                          <h4>
                            <strong>Moveset:
                            </strong>
                            <br>
                              <li class="unstyled" ng-repeat="move in pokemon.moves">
                                <i>
                                  {{move | titlecase}}

                                  <i></li>
                                </h4>
                              </div>
                            </td>
                            <!-- NOTE this is the td for the EDIT (and add?) part of the panel -->
                            <td ng-if="pokemon.appState=='add'">
                              <form name="addPokemon">
                                <h4>
                                  <strong>Search By Name</strong>
                                </h4>
                                <input class="form-control" name="some_name" type="text" value="">
                                <hr>
                                  <h4>
                                    <strong>Select Moveset</strong>
                                  </h4>
                                  <input class="form-control" name="some_name" type="text" value="">
                                  <input class="form-control" name="some_name" type="text" value="">
                                  <input class="form-control" name="some_name" type="text" value="">
                                  <input class="form-control" name="some_name" type="text" value="">
                                  <!-- <input class="btn btn-success btn-sm" type="submit" name="some_name" value="Submit"> -->
                                  <!-- TODO uh how do I put the input which has the correct bootstrap look? -->
                                  <button aria-label="Left Align" class="btn btn-success btn-sm" type="button">
                                    <span aria-hidden="true" class="glyphicon glyphicon-ok"></span>
                                    Add New Pokemon
                                  </button>
                                  <button aria-label="Left Align" class="btn btn-danger btn-sm" type="button">
                                    <span aria-hidden="true" class="glyphicon glyphicon-ban-circle"></span>
                                    Cancel
                                  </button>
                                </form>
                              </td>

                              <!-- NOTE this is the TD for edit -->
                              <td ng-if="pokemon.appState=='edit'">
                                <form name="editPokemon">
                                  <h4>
                                    <strong>Search By Name</strong>
                                  </h4>
                                  <input class="form-control" name="some_name" type="text" value="">
                                  <hr>
                                    <h4>
                                      <strong>Select Moveset</strong>
                                    </h4>
                                    <input class="form-control" name="some_name" type="text" value="">
                                    <input class="form-control" name="some_name" type="text" value="">
                                    <input class="form-control" name="some_name" type="text" value="">
                                    <input class="form-control" name="some_name" type="text" value="">
                                    <!-- <input class="btn btn-success btn-sm" type="submit" name="some_name" value="Submit"> -->
                                    <!-- TODO uh how do I put the input which has the correct bootstrap look? -->
                                    <button aria-label="Left Align" class="btn btn-success btn-sm" type="button">
                                      <span aria-hidden="true" class="glyphicon glyphicon-ok"></span>
                                      Save Changes
                                    </button>
                                    <button aria-label="Left Align" class="btn btn-danger btn-sm" type="button">
                                      <span aria-hidden="true" class="glyphicon glyphicon-ban-circle"></span>
                                      Cancel
                                    </button>
                                  </form>
                                </td>
                          </tr>

                        </table>
                      </div>
                    </div>

          </div>

        </div>
        <!-- for this column md 6 -->
        <!-- NOTE second column -->
        <div class="col-md-6 col-xm-6 col-xs-12">
          <!-- NOTE trying out ng-repeat WIP -->
          <div ng-repeat="pokemon in firstTeam | limitTo: 3: 3">
            <!-- NOTE add func -->

            <div ng-if="pokemon.appState=='add'" class="panel panel-success">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <strong>ADD NEW POKEMON - #652: pokemon name</strong>
                </h3>
              </div>
              <div class="panel-body">
                <table>
                  <tr>
                    <td>
                      <img align="left" alt="" class="pokemon-avatar"
                        ng-src="http://www.serebii.net/xy/pokemon/652.png"/>
                      <hr>
                        <h4>
                          <strong>Type:</strong>
                          <i>Fighting, Grass</i></h4>
                      </td>
                      <td>
                        <form name="editPokemon">
                          <h4>
                            <strong>Search By Name</strong>
                          </h4>
                          <input class="form-control" name="some_name" type="text" value="">
                          <hr>
                            <h4>
                              <strong>Select Moveset</strong>
                            </h4>
                            <input class="form-control" name="some_name" type="text" value="">
                            <input class="form-control" name="some_name" type="text" value="">
                            <input class="form-control" name="some_name" type="text" value="">
                            <input class="form-control" name="some_name" type="text" value="">
                            <!-- <input class="btn btn-success btn-sm" type="submit" name="some_name" value="Submit"> -->
                            <!-- TODO uh how do I put the input which has the correct bootstrap look? -->
                            <button aria-label="Left Align" class="btn btn-success btn-sm" type="button">
                              <span aria-hidden="true" class="glyphicon glyphicon-ok"></span>
                              Add New Pokemon
                            </button>
                            <button aria-label="Left Align" class="btn btn-danger btn-sm" type="button">
                              <span aria-hidden="true" class="glyphicon glyphicon-ban-circle"></span>
                              Cancel
                            </button>
                          </form>
                        </td>
                      </tr>
                      <tr>
                        [add in json for debugging purposes]
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="fixed-height panel panel-primary" ng-if="pokemon.appState=='read'">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      <strong>#{{pokemon.ndex}}: {{pokemon.name | uppercase}}</strong>
                    </h3>
                  </div>
                  <div class="panel-body">
                    <!-- TODO look for a mirror or download the resource for images yourself. Also put that in credits -->
                    <table>
                      <tr>
                        <!-- TODO how do i justify?? -->
                        <td class="parent">
                          <div class="center-align">
                            <img align="left" alt="" class="pokemon-avatar"
                              ng-src="http://www.serebii.net/xy/pokemon/{{pokemon.ndex}}.png"/>
                            <h4>
                              <strong>Type:
                              </strong>
                              <i>{{pokemon.type[0] | titlecase}}, {{pokemon.type[1] | titlecase}}</i>
                            </h4>
                            <button aria-label="Left Align" class="btn btn-default btn-sm" type="button">
                              <span aria-hidden="true" class="glyphicon glyphicon-edit"></span>
                              Edit
                            </button>
                            <button aria-label="Left Align" class="btn btn-danger btn-sm" type="button">
                              <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>
                              Delete
                            </button>
                          </div>
                        </td>
                        <td class="parent">
                          <div>
                            <!-- originally i put .center-align -->
                            <h3><strong>{{pokemon.name}}</strong></h3>
                            <hr>
                              <h4>
                                <strong>Moveset:
                                </strong>
                                <br>
                                  <li class="unstyled" ng-repeat="move in pokemon.moves">
                                    <i>
                                      {{move | titlecase}}
                                      <i></li>
                                    </h4>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                {{pokemon | json }}
                              </tr>
                            </table>
                          </div>
                        </div>
                        <!-- NOTE edit  -->

                        <div ng-if="pokemon.appState=='edit'" class="panel panel-warning">
                          <div class="panel-heading">
                            <h3 class="panel-title">
                              <strong>EDIT EXISTING POKEMON - #652: pokemon name</strong>
                            </h3>
                          </div>
                          <div class="panel-body">
                            <table>
                              <tr>
                                <td>
                                  <img align="left" alt="" class="pokemon-avatar"
                                    ng-src="http://www.serebii.net/xy/pokemon/652.png"/>
                                  <hr>
                                    <h4>
                                      <strong>Type:</strong>
                                      <i>Fighting, Grass</i></h4>
                                  </td>
                                  <td>
                                    <form name="editPokemon">
                                      <h4>
                                        <strong>Search By Name</strong>
                                      </h4>
                                      <input class="form-control" name="some_name" type="text" value="">
                                      <hr>
                                        <h4>
                                          <strong>Select Moveset</strong>
                                        </h4>
                                        <input class="form-control" name="some_name" type="text" value="">
                                        <input class="form-control" name="some_name" type="text" value="">
                                        <input class="form-control" name="some_name" type="text" value="">
                                        <input class="form-control" name="some_name" type="text" value="">
                                        <!-- <input class="btn btn-success btn-sm" type="submit" name="some_name" value="Submit"> -->
                                        <!-- TODO uh how do I put the input which has the correct bootstrap look? -->
                                        <button aria-label="Left Align" class="btn btn-success btn-sm" type="button">
                                          <span aria-hidden="true" class="glyphicon glyphicon-ok"></span>
                                          Save Changes
                                        </button>
                                        <button aria-label="Left Align" class="btn btn-danger btn-sm" type="button">
                                          <span aria-hidden="true" class="glyphicon glyphicon-ban-circle"></span>
                                          Delete Pokemon
                                        </button>
                                      </form>
                                    </td>
                                  </tr>
                                  <tr>
                                    [insert Json here after I have wired in ng-model, for debugging and checking
                                    purposes]
                                  </tr>
                                </table>
                              </div>
                            </div>
                            <!-- NOTE BLANK STATE -->
                            <div class="fixed-height panel panel-default" ng-if="pokemon.appState=='blank'">
                              <div class="panel-heading">
                                <h3 class="panel-title">
                                  <strong>BLANK SLOT</strong>
                                </h3>
                              </div>
                              <div class="panel-body parent">
                                <!-- MINOR TODO: how to align this to the center? -->
                                <h4 class="center-align"><strong>Click the button to add a new Pokemon to your
                                  team.</strong></h4>
                                <button class="btn btn-success center-align" type="button">
                                  <span class="glyphicon glyphicon-plus"></span>
                                  Add Pokemon
                                </button>
                              </div>
                            </div>


                  </div>
                </div>
              </div>
              <hr>
                <div class="page-header" id="analysis">
                  <!-- TODO make the glyphicon work with the h1?? -->
                  <!-- <span class="glyphicon glyphicon-search" aria-hidden="true"></span> -->
                  <h1>Run Analysis
                    <small>We'll check for team strengths and weaknesses</small>
                  </h1>
                </div>
                <!-- TODO I probably have to use an angular component for this instead>.> -->
                <div class="panel panel-default">
                  <ul class="nav nav-pills nav-justified">
                    <li class="active" role="presentation"><a href="#">Overall Analysis
                      </a>
                    </li>
                    <li role="presentation"><a href="#">Strengths</a></li>
                    <li role="presentation"><a href="#">Weaknesses</a></li>
                  </ul>
                  <div class="panel-body">
                    Basic panel example
                  </div>
                </div>
                <hr>
                  <div class="page-header" id="share">
                    <h1>Share Your Results
                      <small>Had fun playing with this app? Share it with your friends!</small>
                    </h1>
                  </div>
                  <hr>
                    <div class="page-header" id="credits">
                      <h1>Credits
                        <small>About this proj ect</small>
                      </h1>
                      <p>
                        Pokemon does not belong to me. App created by Hui Suan Chung, 2015
                      </p>
                    </div>
                  </div>
                  <!-- container div -->

                </body>
              </html>
