<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <meta charset="UTF-8">
  <title>Pokemon App</title>
  <link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  <link href="lib/bootstrap/dist/css/app.css" rel="stylesheet">
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-animate.min.js"></script>
  <script src="lib/angular/TweenMax.min.js"></script>
  <script src="lib/angular/ngFx.js"></script>
  <script src="lib/angular/underscore-min.js"></script>
  <script src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="main.js"></script>
</head>

<body ng-controller="PokemonAppController">
  <!-- NAVBAR -->
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Pokemon App</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
          <!-- TODO the links for about a share are not up yet. Also need to
                test if the nav works-->
          <li><a href="#select">1. Select</a></li>
          <li><a href="#analysis">2. Analyze</a></li>
          <li><a href="#share">3. Share</a></li>
          <li><a href="#credits">4. Credits</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>
  <div class='container'>
    <div class="jumbotron">
      <h1>Pokemon Analyzer {{1+2}}</h1>
      <p>You build your team and we analyze it for you!</p>
      

      <p><a class="btn btn-primary btn-lg" href="#select" role="button">Select Your
          Pokemon</a></p>
    </div>
    <div class="page-header" id="select">
      <h1>Select Your Pokemon
        <small>Maximum of Six (6) Pokemon in a Team</small>
      </h1>
    </div>
    <!-- NOTE: This is 2 columns in the same row -->
    <div class="row">
      <!-- NOTE first column -->
      <div class="col-md-6 col-xm-6 col-xs-12">
        <div ng-repeat="pokemon in firstTeam | limitTo: 3">

          <div add ng-if="pokemon.appState=='add'"></div>
          <div blank ng-if="pokemon.appState=='blank'"></div>
          <div edit ng-if="pokemon.appState=='edit'"></div>
          <div read ng-if="pokemon.appState=='read'"></div>
        </div>
        <!-- ng-repeat -->
      </div>
      <!-- bootstrap col -->

      <!-- NOTE second column -->
      <div class="col-md-6 col-xm-6 col-xs-12">
        <!-- NOTE trying out ng-repeat WIP -->
        <div ng-repeat="pokemon in firstTeam | limitTo: 3: 3">
          <div add ng-if="pokemon.appState=='add'"></div>
          <div blank ng-if="pokemon.appState=='blank'"></div>
          <div edit ng-if="pokemon.appState=='edit'"></div>
          <div read ng-if="pokemon.appState=='read'"></div>
        </div>
        <!-- ng-repeat -->
      </div>
      <!-- bootstrap col -->
    </div>
    <!-- div row -->
    <hr>
    <div class="page-header" id="analysis">
      <!-- TODO make the glyphicon work with the h1?? -->
      <!-- <span class="glyphicon glyphicon-search" aria-hidden="true"></span> -->
      <h1>Run Analysis
        <small>We'll check for team strengths and weaknesses</small>
      </h1>
    </div>


    <tabset justified="true" type="pills">
      <tab heading="Full Details">
        <div moveset></div>
      </tab>
      <tab heading="Pokemon Type">
      <div strengths></div>
      </tab>
      <tab heading="Moveset">
        <div weakness>
        </div>
      </tab>
    </tabset>

    <hr>
    <div class="page-header" id="share">
      <h1>Share Your Results
        <small>Had fun playing with this app? Share it with your friends!</small>
      </h1>
    </div>
    <hr>
    <div class="page-header" id="credits">
      <h1>Credits
        <small>About this project</small>
      </h1>
      <p>
        Pokemon does not belong to me. App created by Hui Suan Chung, 2015
      </p>
    </div>



  </div>
  <!-- container div -->

</body>

</html>
