<table class='table table-striped table-bordered table-hover table-condensed'>
  <thead>
    <tr>
      <th>
        <h4><strong>Pokemon</strong></h4>
      </th>
      <th colspan="4">
        <h4><strong>Moveset</strong></h4>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="pokemon in firstTeam" ng-if="pokemon.data.name">
      <!-- TODO filter by appState: show only if appState is set to Read -->
      <td><img alt="{{pokemon.data.name}}"
        ng-src="http://www.serebii.net/xy/pokemon/{{pokemon.data.ndex |
        zeroPadding}}.png"/><br>
        <strong>{{pokemon.data.name}}</strong>
      </td>
      <td ng-repeat="data in getMovesetData(pokemon)">
        <strong>{{data.Name}}</strong>
        <br>{{data.Type}}
          <br>{{data.Category}}
            <br>{{data.Effect}}</td>
          </tr>
        </tbody>
      </table>
